PUBLIC_ORDER_ENDPOINT=https://artist-colony.netrunner-meetup.com
# local dev
# PUBLIC_ORDER_ENDPOINT=http://localhost:8080

ALLOWED_ORIGIN=https://null-signal-games.github.io/Artist-Colony-Price-Sheet
# local dev
# ALLOWED_ORIGIN=http://localhost:5173

# set to the subdomain before .myshopify.com, 
#   also used by the client build for shopify admin links
# PUBLIC_SHOPIFY_STORE_SUBDOMAIN=my-store

# use CLIENT_ID and CLIENT_SECRET
#   to fetch token from /admin/oauth/access_token
# SHOPIFY_CLIENT_ID=
# SHOPIFY_CLIENT_SECRET=
#
# SHOPIFY_API_VERSION=2026-07
# SHOPIFY_POLL_INTERVAL_SECONDS=60
# SHOPIFY_CURRENCY=CAD

# alternative: setting this would override SHOPIFY_CLIENT_ID and SHOPIFY_CLIENT_SECRET
# SHOPIFY_ADMIN_API_TOKEN=
